# =========================
# Python 기본
# =========================
__pycache__/
*.py[codz]
*$py.class

# =========================
# 가상환경 / 환경파일
# =========================
.env
.envrc
.venv/
venv/
env/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS 파일
# =========================
.DS_Store
Thumbs.db
_MACOSX/

# =========================
# 데이터 (폴더 구조만 유지)
# =========================
data/*
!data/.gitkeep

datasets/
*.zip
*.tar
*.gz

# =========================
# 이미지 파일
# =========================
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff

# =========================
# 모델 가중치
# =========================
*.pt
*.pth
*.ckpt
*.onnx
*.engine

# =========================
# 결과 / 로그
# =========================
runs/
outputs/
checkpoints/
logs/
wandb/
mlruns/

results/*
!results/.gitkeep
!results/*/

results/*/*
!results/*/.gitkeep

# =========================
# 캐시 / 임시 파일
# =========================
.cache/
tmp/
temp/*
!temp/.gitkeep

# ========================
#  테스트 / 커버리지
# ========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/